<p>Wybierz coś dla siebie:)</p>
<p>Minimal Price</p>
<input type="range" name="minPrice" min={{minimalPrice}} max={{maximalPrice}} (change)="changeMin($event)">
<div class="subPrice">
  <p class="minPrice">{{minimalPrice}}$</p>
  <p class="markedPrice">{{newMinimalPrice}}$</p>
  <p class="maxPrice">{{maximalPrice}}$</p>
</div>

<p>Maximus Price</p>
<input type="range" name="maxPrice" min={{minimalPrice}} max={{maximalPrice}} value={{maximalPrice}} (change)="changeMax($event)" >
<div class="subPrice">
  <p class="minPrice">{{minimalPrice}}</p>
  <p class="markedPrice">{{newMaximalPrice}}</p>
  <p class="maxPrice">{{maximalPrice}}</p>
</div>
<ul class="myContainer">
  <li *ngFor="let type of types">
    <input name={{type}} type="checkbox" (change)="changeType($event)">{{type}}
  </li>
</ul>
<ul class="myContainer2">
    <li *ngFor="let category of categories">
      <input name={{category}} type="checkbox" (change)="changeCategory($event)">{{category}}
    </li>
  </ul>